#container {
    display: grid;
    grid-template-columns: repeat(16, 40px);
}

.div {
    border-style: solid;
    border-color: red;
    border-width: 1px;
}

.cell {
    border-style: solid;
    border-color: red;
    border-width: 1px;
}