:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#container {
    position: absolute;
    top: 50px;
    display: grid;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
    width: 700px;
    height: 700px;
    margin-left: 300px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid {
    border-style: solid;
    border-color: black;
}

.button {
    display: flex;
    justify-content: center;
}